@import "tailwindcss";
body,html,.root{
    border: 0px;
    background-image:url("/public/bg.jpg");
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    scrollbar-color: #c7c6c6 #ffffff;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    
}


/** height **/
.h-100 { height: 100%; }
.h-95 { height: 95%; }
.h-90 { height: 90%; }
.h-85 { height: 85%; }
.h-80 { height: 80%; }
.h-75 { height: 75%; }
.h-70 { height: 70%; }
.h-65 { height: 65%; }
.h-60 { height: 60%; }
.h-55 { height: 55%; }
.h-50 { height: 50%; }
.h-45 { height: 45%; }
.h-40 { height: 40%; }
.h-35 { height: 35%; }
.h-30 { height: 30%; }
.h-25 { height: 25%; }
.h-20 { height: 20%; }
.h-15 { height: 15%; }
.h-10 { height: 10%; }
.h-5 { height: 5%; }

.h-10px { height: 10px; }
.h-20px { height: 20px; }
.h-100px { height: 100px; }
.h-200px { height: 200px; }
.h-300px { height: 300px; }
.h-400px { height: 400px; }
.h-500px { height: 500px; }
.h-600px { height: 600px; }
.h-700px { height: 700px; }
.h-800px { height: 800px; }
.h-900px { height: 900px; }
.h-1000px { height: 1000px; }

/** width **/
.w-100 { width: 100%; }
.w-95 { width: 95%; }
.w-90 { width: 90%; }
.w-85 { width: 85%; }
.w-80 { width: 80%; }
.w-75 { width: 75%; }
.w-70 { width: 70%; }
.w-65 { width: 65%; }
.w-60 { width: 60%; }
.w-55 { width: 55%; }
.w-50 { width: 50%; }
.w-45 { width: 45%; }
.w-40 { width: 40%; }
.w-35 { width: 35%; }
.w-30 { width: 30%; }
.w-25 { width: 25%; }
.w-20 { width: 20%; }
.w-15 { width: 15%; }
.w-10 { width: 10%; }

.w-10px { width: 10px; }
.w-100px { width: 100px; }
.w-200px { width: 200px; }
.w-300px { width: 300px; }
.w-400px { width: 400px; }
.w-500px { width: 500px; }
.w-600px { width: 600px; }
.w-700px { width: 700px; }
.w-800px { width: 800px; }
.w-900px { width: 900px; }
.w-1000px { width: 1000px; }

/** display **/
.d-block { display: block; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }
.d-grid { display: grid; }
.d-inline-grid { display: inline-grid; }
.d-table { display: table; }
.d-table-row { display: table-row; }
.d-table-cell { display: table-cell; }
.d-none { display: none; }

/** flex-direction **/
.fd-row { flex-direction: row; }
.fd-row-reverse { flex-direction: row-reverse; }
.fd-column { flex-direction: column; }
.fd-column-reverse { flex-direction: column-reverse; }


/** justify-content **/
.jC-start { justify-content: flex-start; }
.jC-end { justify-content: flex-end; }
.jC-center { justify-content: center; }
.jC-between { justify-content: space-between; }
.jC-around { justify-content: space-around; }
.jC-evenly { justify-content: space-evenly; }

/** align-items **/
.al-start { align-items: flex-start; }
.al-end { align-items: flex-end; }
.al-center { align-items: center; }
.al-baseline { align-items: baseline; }
.al-stretch { align-items: stretch; }

/** text-align**/
.tx-left { text-align: left; }
.tx-right { text-align: right; }
.tx-center { text-align: center; }
.tx-justify { text-align: justify; }

/** align-content **/
.alC-start { align-content: flex-start; }
.alC-end { align-content: flex-end; }
.alC-center { align-content: center; }
.alC-between { align-content: space-between; }
.alC-around { align-content: space-around; }
.alC-stretch { align-content: stretch; }

/** background-color **/
.bg-blue-1 { background-color: #fbfdff; }
.bg-blue-2 { background-color: #f5f9ff; }
.bg-blue-3 { background-color: #e9f3ff; }
.bg-blue-4 { background-color: #d9ecff; }
.bg-blue-5 { background-color: #c7e2ff; }
.bg-blue-6 { background-color: #b1d5ff; }
.bg-blue-7 { background-color: #97c3ff; }
.bg-blue-8 { background-color: #6faaff; }
.bg-blue-9 { background-color: #007bff; }
.bg-blue-10 { background-color: #006df0; }
.bg-blue-11 { background-color: #0069eb; }
.bg-blue-12 { background-color: #03316a; }
.bg-blue-13 { background-color: #001325; }

.bg-blue-a1 { background-color: #0080ff04; }
.bg-blue-a2 { background-color: #0066ff0a; }
.bg-blue-a3 { background-color: #0074ff16; }
.bg-blue-a4 { background-color: #0080ff26; }
.bg-blue-a5 { background-color: #007bff38; }
.bg-blue-a6 { background-color: #0076ff4e; }
.bg-blue-a7 { background-color: #006cff68; }
.bg-blue-a8 { background-color: #0069ff90; }
.bg-blue-a9 { background-color: #007bff; }
.bg-blue-a10 { background-color: #006df0; }
.bg-blue-a11 { background-color: #0069eb; }
.bg-blue-a12 { background-color: #002f68fc; }
.bg-blue-a13 { background-color: #001325; }

.bg-blue-contrast { background-color: #fff; }
.bg-blue-surface { background-color: #f3f8ffcc; }
.bg-blue-indicator { background-color: #007bff; }
.bg-blue-track { background-color: #007bff; }
.bg-black { background-color: #000000; }
.bg-gray { background-color: #0e0e0e; }
/** color **/

.color-blue-1 { color: #fbfdff; }
.color-blue-2 { color: #f5f9ff; }
.color-blue-3 { color: #e9f3ff; }
.color-blue-4 { color: #d9ecff; }
.color-blue-5 { color: #c7e2ff; }
.color-blue-6 { color: #b1d5ff; }
.color-blue-7 { color: #97c3ff; }
.color-blue-8 { color: #6faaff; }
.color-blue-9 { color: #007bff; }
.color-blue-10 { color: #006df0; }
.color-blue-11 { color: #0069eb; }
.color-blue-12 { color: #03316a; }

.color-blue-a1 { color: #0080ff04; }
.color-blue-a2 { color: #0066ff0a; }
.color-blue-a3 { color: #0074ff16; }
.color-blue-a4 { color: #0080ff26; }
.color-blue-a5 { color: #007bff38; }
.color-blue-a6 { color: #0076ff4e; }
.color-blue-a7 { color: #006cff68; }
.color-blue-a8 { color: #0069ff90; }
.color-blue-a9 { color: #007bff; }
.color-blue-a10 { color: #006df0; }
.color-blue-a11 { color: #0069eb; }
.color-blue-a12 { color: #002f68fc; }

.color-blue-contrast { color: #fff; }
.color-blue-surface { color: #f3f8ffcc; }
.color-blue-indicator { color: #007bff; }
.color-blue-track { color: #007bff; }
.color-black { color: #000000; }

/** border **/

.border-blue-1 { border: 1px solid #fbfdff; }
.border-blue-2 { border: 1px solid #f5f9ff; }
.border-blue-3 { border: 1px solid #e9f3ff; }
.border-blue-4 { border: 1px solid #d9ecff; }
.border-blue-5 { border: 1px solid #c7e2ff; }
.border-blue-6 { border: 1px solid #b1d5ff; }
.border-blue-7 { border: 1px solid #97c3ff; }
.border-blue-8 { border: 1px solid #6faaff; }
.border-blue-9 { border: 1px solid #007bff; }
.border-blue-10 { border: 1px solid #006df0; }
.border-blue-11 { border: 1px solid #0069eb; }
.border-blue-12 { border: 1px solid #03316a; }

.border-blue-a1 { border: 1px solid #0080ff04; }
.border-blue-a2 { border: 1px solid #0066ff0a; }
.border-blue-a3 { border: 1px solid #0074ff16; }
.border-blue-a4 { border: 1px solid #0080ff26; }
.border-blue-a5 { border: 1px solid #007bff38; }
.border-blue-a6 { border: 1px solid #0076ff4e; }
.border-blue-a7 { border: 1px solid #006cff68; }
.border-blue-a8 { border: 1px solid #0069ff90; }
.border-blue-a9 { border: 1px solid #007bff; }
.border-blue-a10 { border: 1px solid #006df0; }
.border-blue-a11 { border: 1px solid #0069eb; }
.border-blue-a12 { border: 1px solid #002f68fc; }

.border-blue-t1 { border: 1px solid #000000; }


.border-blue-contrast { border: 1px solid #fff; }
.border-blue-surface { border: 1px solid #f3f8ffcc; }
.border-blue-indicator { border: 1px solid #007bff; }
.border-blue-track { border: 1px solid #007bff; }



/** background-color **/
.bg-bronze-1 { background-color: #fbfbfa; }
.bg-bronze-2 { background-color: #f8f7f5; }
.bg-bronze-3 { background-color: #efeee9; }
.bg-bronze-4 { background-color: #e8e5de; }
.bg-bronze-5 { background-color: #e0ddd3; }
.bg-bronze-6 { background-color: #d8d3c6; }
.bg-bronze-7 { background-color: #cdc7b5; }
.bg-bronze-8 { background-color: #bab29b; }
.bg-bronze-9 { background-color: #a59c83; }
.bg-bronze-10 { background-color: #999078; }
.bg-bronze-11 { background-color: #686251; }
.bg-bronze-12 { background-color: #2b2923; }
/** background-color avec transparence légère **/
.bg-bronze-a1 { background-color: rgba(251, 251, 250, 0.6); }
.bg-bronze-a2 { background-color: rgba(248, 247, 245, 0.6); }
.bg-bronze-a3 { background-color: rgba(239, 238, 233, 0.6); } 
.bg-bronze-a4 { background-color: rgba(232, 229, 222, 0.6); }
.bg-bronze-a5 { background-color: rgba(224, 221, 211, 0.6); }
.bg-bronze-a6 { background-color: rgba(216, 211, 198, 0.6); } 
.bg-bronze-a7 { background-color: rgba(205, 199, 181, 0.6); } 
.bg-bronze-a8 { background-color: rgba(186, 178, 155, 0.6); } 
.bg-bronze-a9 { background-color: rgba(165, 156, 131, 0.6); } 
.bg-bronze-a10 { background-color: rgba(153, 144, 120, 0.295); } 
.bg-bronze-a11 { background-color: rgba(104, 98, 81, 0.6); }
.bg-bronze-a12 { background-color: rgba(43, 41, 35, 0.6); }

/** color **/
.color-bronze-1 { color: #fbfbfa; }
.color-bronze-2 { color: #f8f7f5; }
.color-bronze-3 { color: #efeee9; }
.color-bronze-4 { color: #e8e5de; }
.color-bronze-5 { color: #e0ddd3; }
.color-bronze-6 { color: #d8d3c6; }
.color-bronze-7 { color: #cdc7b5; }
.color-bronze-8 { color: #bab29b; }
.color-bronze-9 { color: #a59c83; }
.color-bronze-10 { color: #999078; }
.color-bronze-11 { color: #686251; }
.color-bronze-12 { color: #2b2923; }

/** border **/
.border-bronze-1 { border: 1px solid #fbfbfa; }
.border-bronze-2 { border: 1px solid #f8f7f5; }
.border-bronze-3 { border: 1px solid #efeee9; }
.border-bronze-4 { border: 1px solid #e8e5de; }
.border-bronze-5 { border: 1px solid #e0ddd3; }
.border-bronze-6 { border: 1px solid #d8d3c6; }
.border-bronze-7 { border: 1px solid #cdc7b5; }
.border-bronze-8 { border: 1px solid #bab29b; }
.border-bronze-9 { border: 1px solid #a59c83; }
.border-bronze-10 { border: 1px solid #999078; }
.border-bronze-11 { border: 1px solid #686251; }
.border-bronze-12 { border: 1px solid #2b2923; }

/** background-color **/
.bg-purple-1 { background-color: #f2f1f6; }
.bg-purple-2 { background-color: #e5e3ec; }
.bg-purple-3 { background-color: #d8d6e2; }
.bg-purple-4 { background-color: #cbc9d8; }
.bg-purple-5 { background-color: #bebcce; }
.bg-purple-6 { background-color: #b1afc4; }
.bg-purple-7 { background-color: #a4a2ba; }
.bg-purple-8 { background-color: #9795b0; }
.bg-purple-9 { background-color: #8a83a5; }
.bg-purple-10 { background-color: #7d769b; }
.bg-purple-11 { background-color: #706a91; }
.bg-purple-12 { background-color: #635d87; }

/** background-color avec transparence légère **/
.bg-purple-a1 { background-color: rgba(242, 241, 246, 0.6); }
.bg-purple-a2 { background-color: rgba(229, 227, 236, 0.6); }
.bg-purple-a3 { background-color: rgba(216, 214, 226, 0.6); }
.bg-purple-a4 { background-color: rgba(203, 201, 216, 0.6); }
.bg-purple-a5 { background-color: rgba(190, 188, 206, 0.6); }
.bg-purple-a6 { background-color: rgba(177, 175, 196, 0.6); }
.bg-purple-a7 { background-color: rgba(164, 162, 186, 0.6); }
.bg-purple-a8 { background-color: rgba(151, 149, 176, 0.6); }
.bg-purple-a9 { background-color: rgba(138, 131, 165, 0.6); }
.bg-purple-a10 { background-color: rgba(125, 118, 155, 0.6); }
.bg-purple-a11 { background-color: rgba(112, 106, 145, 0.6); }
.bg-purple-a12 { background-color: rgba(99, 93, 135, 0.6); }

/** color **/
.color-purple-1 { color: #f2f1f6; }
.color-purple-2 { color: #e5e3ec; }
.color-purple-3 { color: #d8d6e2; }
.color-purple-4 { color: #cbc9d8; }
.color-purple-5 { color: #bebcce; }
.color-purple-6 { color: #b1afc4; }
.color-purple-7 { color: #a4a2ba; }
.color-purple-8 { color: #9795b0; }
.color-purple-9 { color: #8a83a5; }
.color-purple-10 { color: #7d769b; }
.color-purple-11 { color: #706a91; }
.color-purple-12 { color: #635d87; }

/** border **/
.border-purple-1 { border: 1px solid #f2f1f6; }
.border-purple-2 { border: 1px solid #e5e3ec; }
.border-purple-3 { border: 1px solid #d8d6e2; }
.border-purple-4 { border: 1px solid #cbc9d8; }
.border-purple-5 { border: 1px solid #bebcce; }
.border-purple-6 { border: 1px solid #b1afc4; }
.border-purple-7 { border: 1px solid #a4a2ba; }
.border-purple-8 { border: 1px solid #9795b0; }
.border-purple-9 { border: 1px solid #8a83a5; }
.border-purple-10 { border: 1px solid #7d769b; }
.border-purple-11 { border: 1px solid #706a91; }
.border-purple-12 { border: 1px solid #635d87; }


/** background-color **/
.bg-gray-900 { background-color: #231F20; }
.bg-gray-800 { background-color: #2a2a2a; }
.bg-gray-700 { background-color: #3a3a3a; }
.bg-gray-600 { background-color: #4a4a4a; }
.bg-gray-500 { background-color: #5a5a5a; }
.bg-gray-a900 { background-color: rgba(35, 31, 32, 0.192); }
.bg-gray-a800 { background-color: rgba(42, 42, 42,0.192); }
.bg-gray-a700 { background-color: rgba(58, 58, 58, 0.192); }
.bg-gray-a600 { background-color: rgba(74, 74, 74,0.192); }
.bg-gray-a500 { background-color:rgba(90, 90, 90, 0.192);}

.bg-white { background-color: #ffffff; }
/** color **/
.text-white { color: #ffffff; }
.text-gray-300 { color: #d1d1d1; }
.text-gray-400 { color: #bfbfbf; }
.text-gray-500 { color: #9f9f9f; }
.text-blue-400 { color: #60a5fa; }
.text-blue-300 { color: #93c5fd; }

/** border **/
.border-gray-700 { border: 1px solid #3a3a3a; }
.border-gray-600 { border: 1px solid #4a4a4a; }


/** border radius**/

.br-1 { border-radius: 4px; }
.br-2 { border-radius: 8px; }
.br-3 { border-radius: 12px; }
.br-4 { border-radius: 16px; }
.br-5 { border-radius: 20px; }
.br-6 { border-radius: 24px; }
.br-7 { border-radius: 28px; }
.br-8 { border-radius: 32px; }
.br-9 { border-radius: 36px; }
.br-10 { border-radius: 40px; }
.br-11 { border-radius: 44px; }
.br-12 { border-radius: 48px; }

/** margin **/
.m-0 { margin: 0px; }
.m-1 { margin: 4px; }
.m-2 { margin: 8px; }
.m-3 { margin: 12px; }
.m-4 { margin: 16px; }
.m-5 { margin: 20px; }
.m-6 { margin: 24px; }
.m-7 { margin: 28px; }
.m-8 { margin: 32px; }
.m-9 { margin: 36px; }
.m-10 { margin: 40px; }
.m-11 { margin: 44px; }
.m-12 { margin: 48px; }

/** padding **/

.p-1 { padding: 4px; }
.p-2 { padding: 8px; }
.p-3 { padding: 12px; }
.p-4 { padding: 16px; }
.p-5 { padding: 20px; }
.p-6 { padding: 24px; }
.p-7 { padding: 28px; }
.p-8 { padding: 32px; }
.p-9 { padding: 36px; }
.p-10 { padding: 40px; }
.p-11 { padding: 44px; }
.p-12 { padding: 48px; }

/** font-weight **/

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

/** font-size **/

.font-size-a1 { font-size: 12px; }
.font-size-a2 { font-size: 14px; }
.font-size-a3 { font-size: 16px; }
.font-size-a4 { font-size: 18px; }
.font-size-a5 { font-size: 20px; }
.font-size-a6 { font-size: 22px; }
.font-size-a7 { font-size: 24px; }
.font-size-a8 { font-size: 26px; }
.font-size-a9 { font-size: 28px; }
.font-size-a10 { font-size: 32px; }
.font-size-a11 { font-size:50px; }

.font-size-1 { font-size: 75%; }   /* 12px */
.font-size-2 { font-size: 87.5%; } /* 14px */
.font-size-3 { font-size: 100%; }  /* 16px */
.font-size-4 { font-size: 112.5%; }/* 18px */
.font-size-5 { font-size: 125%; }  /* 20px */
.font-size-6 { font-size: 150%; }  /* 24px */
.font-size-7 { font-size: 162.5%; }/* 26px */
.font-size-8 { font-size: 175%; }  /* 28px */
.font-size-9 { font-size: 200%; } /* 32px */

/** position **/

.position-s { position: static; }
.position-r { position: relative; }
.position-a { position: absolute; }
.position-f { position: fixed; }
.position-st { position: sticky; top: 0; }


/** left **/
.left-0 { left: 0%; }
.left-10 { left: 10%; }
.left-20 { left: 20%; }
.left-30 { left: 30%; }
.left-40 { left: 40%; }
.left-50 { left: 50%; }
.left-60 { left: 60%; }
.left-70 { left: 70%; }
.left-80 { left: 80%; }
.left-90 { left: 90%; }
.left-100 { left: 100%; }

/** top **/

.top-0 { top: 0%; }
.top-5 { top: 5%; }
.top-10 { top: 10%; }
.top-20 { top: 20%; }
.top-30 { top: 30%; }
.top-40 { top: 40%; }
.top-50 { top: 50%; }
.top-60 { top: 60%; }
.top-70 { top: 70%; }
.top-80 { top: 80%; }
.top-90 { top: 90%; }
.top-100 { top: 100%; }

/** left **/
.left-0px { left: 0px; }
.left-10px { left: 10px; }
.left-20px { left: 20px; }
.left-30px { left: 30px; }
.left-40px { left: 40px; }
.left-50px { left: 50px; }
.left-60px { left: 60px; }
.left-70px { left: 70px; }
.left-80px { left: 80px; }
.left-90px { left: 90px; }
.left-100px { left: 100px; }

/** top **/
.top-0px { top: 0px; }
.top-10px { top: 10px; }
.top-20px { top: 20px; }
.top-30px { top: 30px; }
.top-40px { top: 40px; }
.top-50px { top: 50px; }
.top-60px { top: 60px; }
.top-70px { top: 70px; }
.top-80px { top: 80px; }
.top-90px { top: 90px; }
.top-100px { top: 100px; }

/** z-index**/
.z-0 { z-index: -1; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }
.z-6 { z-index: 6; }
.z-7 { z-index: 7; }
.z-8 { z-index: 8; }
.z-9 { z-index: 9; }
.z-10 { z-index: 10; }
.z-11 { z-index: 11; }
.z-12 { z-index: 12; }
.z-13 { z-index: 13; }
.z-14 { z-index: 14; }
.z-15 { z-index: 15; }
.z-16 { z-index: 16; }
.z-17 { z-index: 17; }
.z-18 { z-index: 18; }
.z-19 { z-index: 19; }
.z-20 { z-index: 20; }
.z-21 { z-index: 21; }
.z-22 { z-index: 22; }
.z-23 { z-index: 23; }
.z-24 { z-index: 24; }
.z-25 { z-index: 25; }
.z-26 { z-index: 26; }
.z-27 { z-index: 27; }
.z-28 { z-index: 28; }
.z-29 { z-index: 29; }
.z-30 { z-index: 30; }
.z-31 { z-index: 31; }
.z-32 { z-index: 32; }
.z-33 { z-index: 33; }
.z-34 { z-index: 34; }
.z-35 { z-index: 35; }
.z-36 { z-index: 36; }
.z-37 { z-index: 37; }
.z-38 { z-index: 38; }
.z-39 { z-index: 39; }
.z-40 { z-index: 40; }
.z-41 { z-index: 41; }
.z-42 { z-index: 42; }
.z-43 { z-index: 43; }
.z-44 { z-index: 44; }
.z-45 { z-index: 45; }
.z-46 { z-index: 46; }
.z-47 { z-index: 47; }
.z-48 { z-index: 48; }
.z-49 { z-index: 49; }
.z-50 { z-index: 50; }
.z-51 { z-index: 51; }
.z-52 { z-index: 52; }
.z-53 { z-index: 53; }
.z-54 { z-index: 54; }
.z-55 { z-index: 55; }
.z-56 { z-index: 56; }
.z-57 { z-index: 57; }
.z-58 { z-index: 58; }
.z-59 { z-index: 59; }
.z-60 { z-index: 60; }
.z-61 { z-index: 61; }
.z-62 { z-index: 62; }
.z-63 { z-index: 63; }
.z-64 { z-index: 64; }
.z-65 { z-index: 65; }
.z-66 { z-index: 66; }
.z-67 { z-index: 67; }
.z-68 { z-index: 68; }
.z-69 { z-index: 69; }
.z-70 { z-index: 70; }
.z-71 { z-index: 71; }
.z-72 { z-index: 72; }
.z-73 { z-index: 73; }
.z-74 { z-index: 74; }
.z-75 { z-index: 75; }
.z-76 { z-index: 76; }
.z-77 { z-index: 77; }
.z-78 { z-index: 78; }
.z-79 { z-index: 79; }
.z-80 { z-index: 80; }
.z-81 { z-index: 81; }
.z-82 { z-index: 82; }
.z-83 { z-index: 83; }
.z-84 { z-index: 84; }
.z-85 { z-index: 85; }
.z-86 { z-index: 86; }
.z-87 { z-index: 87; }
.z-88 { z-index: 88; }
.z-89 { z-index: 89; }
.z-90 { z-index: 90; }
.z-91 { z-index: 91; }
.z-92 { z-index: 92; }
.z-93 { z-index: 93; }
.z-94 { z-index: 94; }
.z-95 { z-index: 95; }
.z-96 { z-index: 96; }
.z-97 { z-index: 97; }
.z-98 { z-index: 98; }
.z-99 { z-index: 99; }
.z-100 { z-index: 100; }

/** text-decoration **/
.text-underline { text-decoration: underline; text-decoration-color: #737373; }
.text-overline { text-decoration: overline; text-decoration-color: #666666; }
.text-line-through { text-decoration: line-through; text-decoration-color: #595959; }
.text-none { text-decoration: none; }

.text-underline-hover:hover { text-decoration: underline; text-decoration-color: #595959; }
.text-overline-hover:hover { text-decoration: overline; text-decoration-color: #737373; }
.text-line-through-hover:hover { text-decoration: line-through; text-decoration-color: #666666; }

.t-top-left{clip-path: polygon(0% 50%, 100% 0%, 100% 101%, 0% 101%);}
.t-top-right{clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);}
.t-button-left{clip-path: polygon(0% -1%, 100% -1%, 100% 100%, 0% 50%);}
.t-button-right{clip-path: polygon(0% -1%, 100% -1%, 100% 50%, 0% 100%);}

/** text-decoration **/ 
.text-decoration-1 { text-decoration: underline; text-decoration-thickness: 1px; }
.text-decoration-2 { text-decoration: underline; text-decoration-thickness: 2px; }
.text-decoration-3 { text-decoration: underline; text-decoration-thickness: 3px; }
.text-decoration-4 { text-decoration: underline; text-decoration-thickness: 4px; }
.text-decoration-5 { text-decoration: underline; text-decoration-thickness: 5px; }
.text-decoration-6 { text-decoration: underline; text-decoration-thickness: 6px; }
.text-decoration-7 { text-decoration: underline; text-decoration-thickness: 7px; }
.text-decoration-8 { text-decoration: underline; text-decoration-thickness: 8px; }
.text-decoration-9 { text-decoration: underline; text-decoration-thickness: 9px; }
.text-decoration-10 { text-decoration: underline; text-decoration-thickness: 10px; }
.text-decoration-11 { text-decoration: underline; text-decoration-thickness: 11px; }
.text-decoration-12 { text-decoration: underline; text-decoration-thickness: 12px; }

/** Pour d'autres effets de text-decoration **/
.text-decoration-line-through-1 { text-decoration: line-through; text-decoration-thickness: 1px; }
.text-decoration-line-through-2 { text-decoration: line-through; text-decoration-thickness: 2px; }
.text-decoration-line-through-3 { text-decoration: line-through; text-decoration-thickness: 3px; }
.text-decoration-line-through-4 { text-decoration: line-through; text-decoration-thickness: 4px; }
.text-decoration-line-through-5 { text-decoration: line-through; text-decoration-thickness: 5px; }
.text-decoration-line-through-6 { text-decoration: line-through; text-decoration-thickness: 6px; }
.text-decoration-line-through-7 { text-decoration: line-through; text-decoration-thickness: 7px; }
.text-decoration-line-through-8 { text-decoration: line-through; text-decoration-thickness: 8px; }
.text-decoration-line-through-9 { text-decoration: line-through; text-decoration-thickness: 9px; }
.text-decoration-line-through-10 { text-decoration: line-through; text-decoration-thickness: 10px; }
.text-decoration-line-through-11 { text-decoration: line-through; text-decoration-thickness: 11px; }
.text-decoration-line-through-12 { text-decoration: line-through; text-decoration-thickness: 12px; }


.bar-1{height: 1px; width:100%; background-color: #000000;}
.bar-2{height: 1px; width:90%; background-color: #000000;}


.cursor-default:hover { cursor: default; }
.cursor-pointer:hover { cursor: pointer; }
.cursor-crosshair:hover { cursor: crosshair; }
.cursor-move:hover { cursor: move; }
.cursor-text:hover { cursor: text; }
.cursor-wait:hover { cursor: wait; }
.cursor-help:hover { cursor: help; }
.cursor-not-allowed:hover { cursor: not-allowed; }
.cursor-cell:hover { cursor: cell; }
.cursor-context-menu:hover { cursor: context-menu; }
.cursor-progress:hover { cursor: progress; }
.cursor-alias:hover { cursor: alias; }
.cursor-copy:hover { cursor: copy; }
.cursor-no-drop:hover { cursor: no-drop; }
.cursor-grab:hover { cursor: grab; }
.cursor-grabbing:hover { cursor: grabbing; }


.font-sans-serif { font-family: Arial, Helvetica, sans-serif; }
.font-serif { font-family: Times New Roman, Times, serif; }
.font-monospace { font-family: Courier New, Courier, monospace; }
.font-cursive { font-family: 'Brush Script MT', cursive; }
.font-fantasy { font-family: 'Papyrus', fantasy; }
.font-sans { font-family: 'Roboto', Arial, sans-serif; }
.font-serif-italic { font-family: 'Georgia', 'Times New Roman', Times, serif; }
.font-google-roboto { font-family: 'Roboto', sans-serif; }
.font-google-open-sans { font-family: 'Open Sans', sans-serif; }
.font-google-lato { font-family: 'Lato', sans-serif; }
.font-google-montserrat { font-family: 'Montserrat', sans-serif; }
.font-google-raleway { font-family: 'Raleway', sans-serif; }
.font-google-oswald { font-family: 'Oswald', sans-serif; }
.font-google-poppins { font-family: 'Poppins', sans-serif; }
.font-google-ubuntu { font-family: 'Ubuntu', sans-serif; }
.font-helvetica { font-family: 'Helvetica', 'Arial', sans-serif; }
.font-helvetica-neue { font-family: 'Helvetica Neue', 'Helvetica', sans-serif; }
.font-courier { font-family: 'Courier', 'Courier New', monospace; }
.font-apple-chancery { font-family: 'Apple Chancery', cursive; }
.font-georgia { font-family: 'Georgia', serif; }
.font-avenir { font-family: 'Avenir', 'Helvetica', sans-serif; }
.font-avenir-next { font-family: 'Avenir Next', 'Avenir', sans-serif; }
.font-trebuchet-ms { font-family: 'Trebuchet MS', 'Helvetica', sans-serif; }
.font-marker-felt { font-family: 'Marker Felt', sans-serif; }
.font-san-francisco { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif; }

.text-Jn{text-justify: none;}